.body {
  font-size: large;
  font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight ; 
}

.background {
  background-color: black;
  padding: 25px;
}

.logo {
  width: 200px;
}

.background-1 {
background-image: url(assets/banner.jpg);
height: 700px;
}

.paragrafo-1 {
padding: 270px;
    text-align: center;
}

.corso {

font-size: 40px;
padding-bottom: 40px;
padding-top: 200px;
color: rgb(0, 169, 221);
}

.paragrafo-2 {

font-size: large;

}

.button {
    height: 80px;
    width: 160px; 
    border-radius: 4px;
    border-color: rgb(255, 30, 0);
    background-color: rgb(255, 30, 0);
 width: 150px;
 height: 40px;
 margin: 30px;
 color: white;
    
}

.notebook {
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
    height: 370px;
}

.box {
    display: flex;
   justify-content: space-evenly;
padding: 80px;
}

.computer  {
    margin-left: 15%;
 }

.space {    
    padding-bottom: 20px;
    padding-top: 20px;
    }


h2 {
    color: rgb(0, 169, 221);
    

   }

   .background-color {
    background-color: rgb(231, 27, 0);
    padding: 100px;
    margin-top: 40px;
    margin-bottom: 35px;
    color: aliceblue;
    text-align: center;
   }
   
   .h1 {
    font-size: x-large;
padding-bottom: 30px;
   }

   #div-1 {

    font-style: italic;
    font-size: medium;
    padding-bottom: 30px;
   }

   .div-2 {
font-size: 18px;
    
   }

   .div-3 {
    font-size: 9px;
   }

   .box2 {
    display: flex;
    justify-content: space-evenly;
 padding: 70px;
    
}

   .img1-2 {
       width: 55vh;

       padding-bottom: 20px;
   }

   .img3 {
       width: 55vh;
height: 307px;
padding-bottom: px;
   }

   h1 {

    color: rgb(0, 169, 221);
    padding-bottom: 200px ;
   }

   .paragrafo-1,
   .paragrafo-2,
   .paragrafo-3 {

    text-align: center;
    padding: 1%;
    font-size: medium;
   }

   .card1 {
    border: 1px;
    border-style: groove;
    border-color: rgb(202, 201, 201);
   }

   .card2 {
    border: 1px;
 border-style: groove;
 border-color: rgb(202, 201, 201)
   }

   .Card3 {
    border: 1px;
    border-style: groove;
    border-color: rgb(202, 201, 201)
   }

   .fine {
    background-color:rgb(7, 173, 214) ;
    color: aliceblue;
    padding: 80px;
    text-align: center;
    margin-top: 70px;
}


.Contattaci {
    font-size: 40px;
    padding: 50px;
    padding-right: 95px;
}

.numero {
padding-bottom: 9px;
font-size: medium;
padding-right: 137px;
}

.email {
    padding-bottom: 9px;
    font-size: medium;
    padding-right: 77px;
}


.via{
    
    font-size: medium;

}


 .linea {
    padding-bottom: 25px;
padding-top: 25px;
    width: 300px;
    margin: auto;
    
 }

 .paragrafo-3 {
    padding-top: 17px;
 }

 .pix {

    font-size: 14px;
 }

