/* Your styles here */
#body-1 {
    width: 400px;
    text-align: center;

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight ; 
    background-image: url(assets/banner.jpg);
    background-size: 700px ;
    background-repeat: no-repeat;
    background margin: 0px;
}

    


.img-1 {
background-color: black;

}

.corso  {

    font-size: 40px;
    color: rgb(7, 173, 214);
}

.blocco-1 {
font-size: large;
}

.bottone {
    height: 80px;
    width: 160px; 
    border-radius: 4px;
    border-color: orangered;
    background-color: orangered;
 width: 120px;
 height: 30px;
 margin: 30px;
 color: white;
}

.blocco-2 {
height: 90px;
 border: none;
 
}

.img-2 {
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
    height: 300px;

}

.blocco-3,
.blocco-4,
.blocco-5,
.blocco-6
 {
    font-size: larger;
    color: rgb(7, 173, 214);
}

.blocco-7 {
   background-color: rgb(212, 65, 65);
   color: aliceblue;
   border: auto;
   padding: 35px;
   margin-bottom: 10px;
}

.garantisce {
    font-size: 30px;
    
}

.Mario {
    font-size: medium;
}

.Contattaci {
    font-size: 40px;
}

.blocco-8 {
    background-color:rgb(7, 173, 214) ;
    color: aliceblue;
    padding: 35px;
}

.il-tuo-pc {
font-size: larger;
color: rgb(7, 173, 214);
}
   
.impara-ora {
    font-size: larger;
    color: rgb(7, 173, 214);
}

.lavora {
    font-size: larger;
    color: rgb(7, 173, 214);
}